* {
	box-sizing: border-box;
}

.body {
	margin: 0;
	padding: 20px;
	font: normal 16px/24px sans-serif;
}

.feed__button {
	background: lightgray;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
}

.feed__button--prev {
	margin-bottom: 50px;
}

.feed__button--next {
	margin-top: 50px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list__item {
	font-size: 100px;
	height: 300px;
	line-height: 300px;
	background: lightgray;
	text-align: center;
}

.list__item + .list__item {
	margin-top: 50px;
}